/*--------------reset開始------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,,samp,small,strikestrong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embedfigure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

body{
    font-family: 微軟正黑體;
    color: black;
}

input{
    border-style: none;
}

/*--------------reset結束------------------*/
.wrap{
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    border:1px solid blue;
}
.header{
    background-color: darkorange;
    padding: 1em;
}
h1,h2{
    text-align: center;
    color: white;
}

.geocode{
    width: 70%;
    background-color:azure; 
    float: left;
}
.geocode h3{
    text-align: center;
}

#floating-panel{
    margin-left: 40%;
    margin-bottom: 2%;
    width: 50%;
}
#address{
    border: 1px solid black;
}
#map{
    width: 800px;
    height: 500px;
    margin: auto;
}

.list{
    width: 30%;
    height: 600px;
    float: left;
    background-color: #aac9c9;
}
.list h3{
    text-align: center;
}
#dis{
    margin-left: 20%;
    font-size: 18px;
}
.result{
    padding: 1em;
}
